extends layout

block content
    h1 Add Manufacturer
    form(action="/addbrand", method="POST")
        input(type="text" name='name' placeholder='Manufacturer name')
        input(type="text" name='description' placeholder='Description')
        input(type="submit")